.u-section-1 .u-sheet-1 {
  min-height: 434px;
}

.u-section-1 .u-image-1 {
  width: 176px;
  height: 176px;
  margin: 22px auto 0 22px;
}

.u-section-1 .u-text-1 {
  font-family: Ubuntu;
  font-weight: 700;
  margin: 22px auto 0 14px;
}

.u-section-1 .u-text-2 {
  font-family: Ubuntu;
  margin-left: 14px;
  margin-right: auto;
  margin-bottom: 60px;
}